nav {
    background-color: #27355c;
}

nav a {
    color: #fff!important;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.flex {
    display: flex;
}


/* Menu */
.menu {
    background-color: #27355c;
    height: 620px;
    width: 12rem;

    border-radius: 0.375rem 0 0  0.375rem;
}

.card img {
    height: 150px;
    object-fit: contain;
    margin-top: 20px;
}

.main-card {
    border-radius: 0 0.375rem 0.375rem 0px!important;
    width: 600px!important;
}

.question-footer {
    border-top: 1px solid #49577e;
    padding-top: 12px;
    justify-content: space-between;
}

.btn {
    background-color: #27355c!important;
    color: #fff!important;
}

.btn:hover {
    background-color: #49577e!important;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}